* {
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
}

header{
    display: flex;
    padding: 46px 0;
    background-color: #0C3823;
    color: white;
    align-items: center;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0C3823;
    padding: 46px 0;
} */

.header_link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
}

.header_link a:hover {
    color: white;
}

.header_button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
    border-radius: 50px;
    background: #62BD69;
    border: 0;
    cursor: pointer;
}

/* Banner Css Start */

.banner {
    background: #0C3823;
    padding-bottom: 60px;
}

.banner_title {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner h1 {
    font-size: 80px;
    font-weight: 600;
}

.banner_img {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.banner_img h3 {
    font-size: 24px;
    /* width: 50%; */
    text-transform: capitalize;
    color: #B6C3BD;
}

.banner_img_two {
    display: grid;
    gap: 16px;
}

.img_two {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px 0;
    padding-right: 33px;
}

.img_two h4 {
    margin-bottom: 12px;
    color: white;
}

.img_two h5 {
    margin-bottom: 16px;
    color: #B6C3BD;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 18px;
}

.img_two {
    color: #B6C3BD;
}

.img_three {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.05);
    padding: 5px 0;
    padding-right: 18px;
}

.img_three h4 {
    margin-bottom: 12px;
    color: white;
}

.img_three h5 {
    margin-bottom: 16px;
    color: #B6C3BD;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 18px;
}

.img_three p {
    color: #B6C3BD;
}

.banner_dollar {
    color: white;
}

.img_one {
    position: relative;
}

.img_one p {
    position: absolute;
    color: #B6C3BD;
    font: 24px;
    background-color: #0C3823;
    border-radius: 100%;
    padding: 46px;
    top: 33%;
    left: -15%;
    text-align: center;
    border-left: 3px solid #2A5641;
}

.banner_button {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 28px;
    border-radius: 50px;
    background: #F60;
    color: white;
    font-weight: 500;
    border: 0;
    top: 55%;
    left: -15%;
    cursor: pointer;
}

.left_img {
    display: grid;
    align-self: baseline;
}


/* Banner Css End */


/* Plant Collection Start */

.plant_collection {
    text-align: center;
    margin-top: 100px;
}

.plant_img {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.plant_img img {
    margin-bottom: 40px;
}

.plant_collection h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.plant_collection h4 {
    font-size: 24px;
    font-weight: 400;
    color: #6A7872;
}

.plant_img_one img{
    margin-bottom: -100px;
}

.plant_bg_one {
    border-radius: 35px;
    background: #F2F2F2;
    width: 384px;
    height: 210px;
    padding-bottom: 50px;
    border-radius: 35px;
    display: grid;
    align-content: end;
}

.plant_bg_one:hover {
    background: #62BD69;
}


.plant_img_one h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}

.plant_img_one p {
    font-size: 14px;
    font-weight: 600;
}


.plant_collection_dollar {
    color: #F60;
}


/* Plant Collection End */

/* Love Plants Start */


.love_plants {
    background: #25523B;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 0;
}

.love_plants h1 {
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.love_plants h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #B6C3BD;
}

.love_button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 28px;
    border-radius: 50px;
    background: #F60;
    color: white;
    font-weight: 500;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

/* Love Plants End */


/* Best Seller Start */


.best_seller {
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* margin-bottom: 320px; */
    margin: 100px 0;
}

.best_seller img{
    margin-bottom: -100px;
    display: flex;
    justify-content: center;
}

.img_bg {
    width: 330px;
    height: 250px;
    border-radius: 35px;
    background: #F2F2F2;
    display: grid;
    justify-content: center;
    align-items: center;
}

.seller_content{
    margin: 120px 0;
    font-weight: 600;
}

.seller_content h4{
    font-size: 24px;
    margin-bottom: 24px;
}

.seller_content p{
    font-size: 14px;
    text-align: center;
}


.seller_second_col{
    text-align: center;
}
.seller_second_col h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.seller_second_col p{
    font-size: 24px;
    color: #6A7872;
    margin-bottom: 97px;
}
.seller_second_col h3{
    border: 1.5px solid #DDD;
    border-radius: 50px;
    font-size: 24px;
    padding: 24px 40px;
    margin-bottom: 16px;
    color: #6A7872;
}
.seller_second_col h3:hover{
    background-color: #FF6600;
    color: white;
}



/* Best Seller End */


/* Indoor plants Start */

.indoor_plant {
    margin: 100px 185px;
}

.indoor_plant_bg {
    padding: 80px;
    border-radius: 32px;
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.indoor_plant h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.indoor_plant p {
    font-size: 24px;
    color: #6A7872;
    margin-bottom: 30px;
}

.indoor_img {
    position: relative;
}

.indoor_img2 {
    position: absolute;
    bottom: -35px;
    left: -35px;
}

.indoor_button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 28px;
    border-radius: 50px;
    background: #F60;
    color: white;
    font-weight: 500;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}


/* Indoor plants End */


/* Footer Section Start */

footer {
    background-color: #25523B;
    color: white;
}

.footer_section_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer_one {
    display: grid;
    gap: 25px;
}

.footer_link {
    margin-bottom: 65px;
}

.footer_link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
}

.footer_link a:hover {
    color: white;
}

.footer_two h1 {
    margin-bottom: 30px;
    letter-spacing: 1.6px;
    line-height: 47px;
    font-size: 32px;
}

.footer_two input {
    width: 497px;
    padding: 31px 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.20);
    border: 0;
    color: white;
    font-size: 18px;
}

.footer_send {
    display: flex;
    align-items: center;
}

.footer_send img {
    cursor: pointer;
}

.footer_third {
    display: grid;
    gap: 16px
}

.footer_third i {
    background: rgba(255, 255, 255, 0.20);
    padding: 10px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #25523B;
    cursor: pointer;
}

.footer_third i:hover {
    background-color: #62BD69;
}

.footer_line {
    border-bottom: 1px solid #517562;
    margin-bottom: 25px;
    max-width: 82%;
}

.footer_section_two {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    color: rgba(255, 255, 255, 0.70);
}

.footer_policy {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.company_name {
    font-weight: bold;
    color: white;
}